<div class="jumbotron">
    <div class="container">
        <h1>Bestill</h1>
    </div>
</div>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "container alert alert-#{key}" %>
<% end %>

<section id="nav-tab">
    <div class="container">
        <div class="row text-center">
            <ul class="nav nav-tabs">
                 <li role="presentation" class="active"><a href="#">Web Design</a></li>
                 <li role="presentation"><a href="#">Film & Klipp</a></li>
                 <li role="presentation"><a href="#">Grafisk Design</a></li>
                 <li role="presentation"><a href="#">Annet</a></li>
            </ul>
        </div>
    </div>
</section>


<section id="web-orders">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg text-center">
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Lekker</h2>
            <table class="table table-striped">
              <tr>
                <td>Lekkert og Skreddersydd Design</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Responsivt</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Opp til 5 sider</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Unik</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Kontak Skjema</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Logg Inn / Registrer</td>
                <td class="red">x</td>
              </tr>
              <tr>
                <td>Blogg</td>
                <td class="red">x</td>
              </tr>
              <tr>
                <td>Medlemskap - Premium eller Free</td>
                <td class="red">x</td>
              </tr>
              <tr>
                <td>Databaseløsninger</td>
                <td class="red">x</td>
              </tr>
              <tr>
                <td>Betaling med kort</td>
                <td class="red">x</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 5790,-</h2>
            <p class="mva text-center">inkl. mva</p>
            <table class="table table-striped">
              <thead>
                <p class="pakketilbud">Tilgjengelige pakketilbud:</p>
              </thead>
              <tr>
                <td>Interaktive Animasjoner</td>
                <td>+ 99,-</td>
              </tr>
              <tr>
                <td>Hjelp til domene og hosting</td>
                <td>+ 190,-</td>
              </tr>
              <tr>
                <td>Logo</td>
                <td>+ 1500,-</td>
              </tr>
              <tr>
                <td>Drift</td>
                <td>+ 99 /mnd</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg text-center">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Fabelaktig</h2>
            <table class="table table-striped">
              <tr>
                <td>Lekkert og Skreddersydd Design</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Responsivt</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Opp til 5 sider</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Unik</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Kontak Skjema</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Logg Inn / Registrer</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Blogg</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Medlemskap - Premium eller Free</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Databaseløsninger</td>
                <td class="green">*</td>
              </tr>
              <tr>
                <td>Betaling med kort</td>
                <td class="green">*</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 8990,-</h2>
            <p class="mva text-center">inkl. mva</p>
            <table class="table table-striped pakke-table">
              <thead>
                <p class="pakketilbud">Tilgjengelige pakketilbud:</p>
              </thead>
              <tr>
                <td>Interaktive Animasjoner</td>
                <td>Inkl</td>
              </tr>
              <tr>
                <td>Hjelp til domene og hosting</td>
                <td>inkl</td>
              </tr>
              <tr>
                <td>Logo</td>
                <td>+ 1500,-</td>
              </tr>
              <tr>
                <td>Drift</td>
                <td>+ 249 /mnd</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg text-center">
            <i class="fa fa-wrench" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Vedlikehold</h2>
            <table class="table table-striped">
              <tr>
                <td>Vedlikehold av eksisterende nettsted</td>
              </tr>
              <tr>
                <td>Oppgradere eksisterende nettsted</td>
              </tr>
              <tr>
                <td>Assistere med hosting / webhotell</td>
              </tr>
              <tr>
                <td>Assistere med teknisk kompetanse</td>
              </tr>
              <tr>
                <td>Administrere sosiale medier</td>
              </tr>
            </table>
            <h2 class="price text-center">Pris etter avtale</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row utvidet-info">
      <h2>Utvidet info</h2>
      <div class="col-md-4">
        <h3>Lekker (Websider)</h3>
        <p class="orders-desc-p"><strong>Lekker</strong> pakken passer perfekt til deg som er selvstendig næringsdrivende, privatperson eller driver en mindre virksomhet. Siden vil inneholde all nødvendig informasjon om dine tjenester eller produkter. Samtidig som nettsiden vil ha et interessevekkende design, vil det også være mulig for kunder å kontakte deg gjennom kontaktskjema på mail.</p>
      </div>
      <div class="col-md-4">
        <h3>Fabelaktig</h3>
        <p class="orders-desc-p"><strong>Fabelaktig</strong> er en mer fleksibel utgave av lekker pakken. Denne pakken er skreddersydd til deg som driver en større bedrfit, men passer også til de som trenger flere funskjoner. Gjennom lekker + blir det mulig for brukere å logge inn / registrere seg, lage brukerprofiler, gjennomføre betalinger og mye mer. Om ønskelig, er det også mulig å gjøre det slik at brukere kan velge mellom premium og gratis medlemskap.</p>
      </div>
      <div class="col-md-4">
        <h3>Vedlikehold</h3>
        <p class="orders-desc-p">Trenger du vedlikehold eller oppgraderinger på eksisterende nettsted eller sosiale medier? Da hjelper jeg deg gladlig! Beskriv i kontakt skjema nedenfor hvilke utfordringer du ønsker assistanse i, og vi finner en ordning på det.</p>
      </div>
    </div>
  </div>
</section>

<div class="orders-form">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= form_for @order do |f| %>
          <div class="form-group">
            <%= f.label :fornavn %>
            <%= f.text_field :fornavn, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :etternavn %>
            <%= f.text_field :fornavn, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :mobil %>
            <%= f.text_field :mobil, class: 'form-control' %>
          </div>
          
          <div class="form group">
            <%= f.label :tjeneste %>
            <%= %>
          </div>
          
          <div class="checkbox">
            <%= f.check_box :terms %>
          </div>
          
          <%= f.submit 'Send Inn', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>