<head>
  <script>
    $(document).ready(function() {
      $('#grafisk-orders, #video-orders, #annet-orders').hide();
    
    $('.grafisk-tab').click(function() {
        $('.grafisk-tab').addClass('active');
        $('.web-tab, .video-tab, .annet-tab').removeClass('active')
        $('#grafisk-orders').toggle();
        $('#web-orders, #video-orders, #annet-orders').hide();
    });
    
    $('.video-tab').click(function() {
        $('.video-tab').addClass('active');
        $('.web-tab, .grafisk-tab, .annet-tab').removeClass('active');
        $('#video-orders').toggle();
        $('#web-orders, #grafisk-orders, #annet-orders').hide();
    });
    
    $('.web-tab').click(function() {
        $('.web-tab').addClass('active');
        $('.grafisk-tab, .video-tab, .annet-tab').removeClass('active');
        $('#web-orders').toggle();
        $('#grafisk-orders, #video-orders, #annet-orders').hide();
    });
    
    $('.annet-tab').click(function() {
        $('.annet-tab').addClass('active');
        $('.web-tab, .grafisk-tab, .video-tab').removeClass('active');
        $('#annet-orders').toggle();
        $('#web-orders, #grafisk-orders, #video-orders').hide();
    }); 
    });
  </script>
</head>

<nav class="navbar navbar-default orders-nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('left-logo-long-text-min.png'), root_path, class: 'navbar-brand'  %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Forside', root_path %></li>
        <li class="active"><%= link_to 'Tjenester', new_order_path %> <span class="sr-only">(current)</span></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron orders-hero">
    <div class="container">
        <h1>Tjenester</h1>
    </div>
</div>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "container alert alert-#{key}" %>
<% end %>

<section id="nav-tab">
    <div class="container">
        <div class="row text-center">
            <ul class="nav nav-tabs">
                 <li role="presentation" class="active web-tab"><a id="web-tab">Web Design</a></li>
                 <li role="presentation" class="grafisk-tab"><a id="grafisk-tab">Grafisk Design</a></li>
                 <li role="presentation" class="video-tab"><a id="video-tab">Film og Klipp</a></li>
                 <li role="presentation" class="annet-tab"><a id="annet-tab">Annet</a></li>
            </ul>
        </div>
    </div>
</section>


<section id="web-orders" class="web-orders">
  <div class="container">
    <div class="row">
      <p class="tilbud-header text-center green">Tilbud på hjemmesider!</p>
      <p class="tilbud-text text-center green">Tilbud gjelder t.o.m 20. august 2017</p>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg lekker-bg text-center">
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Lekker</h2>
            <table class="table table-striped">
              <tr>
                <td>Lekkert og Skreddersydd Design</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Responsivt</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Opp til 5 sider</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Unik</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Kontak Skjema</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Logg Inn / Registrer</td>
                <td class="red"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Blogg</td>
                <td class="red"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Medlemskap - Premium eller Free</td>
                <td class="red"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Databaseløsninger</td>
                <td class="red"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Kortbetaling for kunder</td>
                <td class="red"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 2990,-</h2>
            <p class="tilbud text-center">Tilbud! Gjelder kun t.o.m 20 August 2017</p>
            <table class="table table-striped">
              <thead>
                <p class="pakketilbud">Tilgjengelige pakketilbud:</p>
              </thead>
              <tr>
                <td>Interaktive Animasjoner</td>
                <td>+ 99,-</td>
              </tr>
              <tr>
                <td>Hjelp til domene og hosting</td>
                <td>+ 190,-</td>
              </tr>
              <tr>
                <td>Logo</td>
                <td>+ 990,-</td>
              </tr>
              <tr>
                <td>Drift</td>
                <td>+ 99 /mnd</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg fabelaktig-bg text-center">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Fabelaktig</h2>
            <table class="table table-striped">
              <tr>
                <td>Lekkert og Skreddersydd Design</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Responsivt</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Uendelig antall sider</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Unik</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Kontak Skjema</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Logg Inn / Registrer</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Blogg</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Medlemskap - Premium eller Free</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Databaseløsninger</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>Kortbetaling for kunder</td>
                <td class="green"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 4990,-</h2>
            <p class="tilbud text-center">Tilbud! Gjelder kun t.o.m 20 August 2017</p>
            <table class="table table-striped pakke-table">
              <thead>
                <p class="pakketilbud">Tilgjengelige pakketilbud:</p>
              </thead>
              <tr>
                <td>Interaktive Animasjoner</td>
                <td>Inkl</td>
              </tr>
              <tr>
                <td>Hjelp til domene og hosting</td>
                <td>inkl</td>
              </tr>
              <tr>
                <td>Logo</td>
                <td>+ 990,-</td>
              </tr>
              <tr>
                <td>Drift</td>
                <td>+ 199 /mnd</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg vedlikehold-bg text-center">
            <i class="fa fa-wrench" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Vedlikehold</h2>
            <table class="table table-striped">
              <tr>
                <td>Vedlikehold av eksisterende nettsted</td>
              </tr>
              <tr>
                <td>Oppgradere eksisterende nettsted</td>
              </tr>
              <tr>
                <td>Assistere med hosting / webhotell</td>
              </tr>
              <tr>
                <td>Assistere med teknisk kompetanse</td>
              </tr>
              <tr>
                <td>Administrere sosiale medier</td>
              </tr>
            </table>
            <h2 class="price text-center">Pris etter avtale</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="orders-form" id="web-form">
    <div class="container">
      <h2 class="text-center">Kontakt & Bestill</h2>
      <p class="text-center terms">Alle felt er påkrevd</p>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 well">
          <%= form_for @order do |f| %>
            <div class="form-group">
              <%= f.label :fornavn %>
              <%= f.text_field :fornavn, class: 'form-control', placeholder: 'Ditt fornavn' %>
            </div>
            
            <div class="form-group">
              <%= f.label :etternavn %>
              <%= f.text_field :etternavn, class: 'form-control', placeholder: 'Ditt etternavn' %>
            </div>
            
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Din epost' %>
            </div>
            
            <div class="form-group">
              <%= f.label :mobil %>
              <%= f.number_field :mobil, class: 'form-control', placeholder: 'Ditt mobilnummer' %>
            </div>
            
            <div class="btn-group">
              <%= f.label "Tjeneste" %></br>
              <%= f.select(:tjeneste_option, options_for_select([['Lekker (Webside)', 'Lekker (Webside)'], ['Fabelaktig (Webside)', 'Fabelaktig (Webside)'], ['Vedlikehold - Web', 'Vedlikehold - Web'], ['Logodesign', 'Logodesign'], ['Profilmanual', 'Profilmanual'], ['Grafisk Profilering', 'Grafisk Profilering'], ['Videoredigering', 'Videoredigering'], ['Film & Klipp', 'Film & Klipp'], ['VHS Digitalisering', 'VHS Digitalisering']]), {}, { :class => 'btn btn-sm btn-primary dropdown-toggle' }) %>
            </div>
            
            <div class="form-group">
              <%= f.label :beskrivelse %>
              <%= f.text_area :beskrivelse, class: 'form-control', placeholder: 'Beskriv tjenesten du ønsker' %>
            </div>
            
            <%= f.submit 'Send Inn', class: 'btn btn-send-order' %>
            <p class="terms">Ved å trykke "Send Inn", aksepterer du Digtikk.no sine <%= link_to "kjøpsvilkår", "https://forbrukerombudet.no/lov-og-rett/veiledninger-og-retningslinjer/2179-2" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="web-orders-info" class="utvidet-info web-orders-info">
    <h2 class="text-center">Utvidet Info</h2>
    <div class="container-fluid lekker">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Lekker (Websider)</h3>
            <p class="orders-desc-p"><strong>Lekker</strong> pakken passer perfekt til deg som er selvstendig næringsdrivende, privatperson eller driver en mindre virksomhet. Siden vil inneholde all nødvendig informasjon om dine tjenester eller produkter. Samtidig som nettsiden vil ha et interessevekkende design, vil det også være mulig for kunder å kontakte deg gjennom kontaktskjema på mail.</p>
          </div>
          <div class="col-md-offset-3 col-md-5 orders-col-img">
            <%= image_tag("web_design-min.png", class: 'web-design-icons') %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid fabelaktig">
      <div class="container">
        <div class="row">
          <div class="col-md-4 orders-col-img">
            <%= image_tag("new_macs_cta.png", class: 'web-info-mac') %>
          </div>
          <div class="col-md-offset-3 col-md-5">
            <h3>Fabelaktig</h3>
            <p class="orders-desc-p"><strong>Fabelaktig</strong> er en mer fleksibel utgave av lekker pakken. Denne pakken er skreddersydd til deg som driver en større bedrfit, men passer også til de som trenger flere funskjoner. Gjennom lekker + blir det mulig for brukere å logge inn / registrere seg, lage brukerprofiler, gjennomføre betalinger og mye mer. Om ønskelig, er det også mulig å gjøre det slik at brukere kan velge mellom premium og gratis medlemskap.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid vedlikehold">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Vedlikehold</h3>
            <p class="orders-desc-p">Trenger du vedlikehold eller oppgraderinger på eksisterende nettsted eller sosiale medier? Da hjelper jeg deg gladlig! Beskriv i kontakt skjema nedenfor hvilke utfordringer du ønsker assistanse i, og vi finner en ordning på det.</p>
          </div>
          <div class="col-md-offset-3 col-md-5 orders-col-img">
            <%= image_tag("vedlikehold-min.png", class: 'vedlikehold-mac') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="grafisk-orders" class="grafisk-orders">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg logo-bg text-center">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Logodesign</h2>
            <table class="table table-striped">
              <tr>
                <td>Skreddersydd Design</td>
              </tr>
              <tr>
                <td>Høyoppløst</td>
              </tr>
              <tr>
                <td>Vector grafikk for print</td>
              </tr>
              <tr>
                <td>Bitmap grafikk for skjerm</td>
              </tr>
              <tr>
                <td>Web optimalisert</td>
              </tr>
              <tr>
                <td>Tilpasset ulike mediekanaler</td>
              </tr>
              <tr>
                <td>Fornøydgaranti</td>
              </tr>
              <tr>
                <td>Trykk klar</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 2490,-</h2>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg profilmanual-bg text-center">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Profilmanual</h2>
            <table class="table table-striped">
              <tr>
                <td>Skreddersydd Design</td>
              </tr>
              <tr>
                <td>Høyoppløst</td>
              </tr>
              <tr>
                <td>Vector Grafikk</td>
              </tr>
              <tr>
                <td>Trykk klar</td>
              </tr>
              <tr>
                <td>Virksomhetens beskrivelse</td>
              </tr>
              <tr>
                <td>Virksomhetens fonter</td>
              </tr>
              <tr>
                <td>Virksomhetens farger</td>
              </tr>
              <tr>
                <td>Utvikling av logo</td>
              </tr>
              <tr>
                <td>Utvikling av designelementer</td>
              </tr>
              <tr>
              <tr>
                <td>X-avstand på logo</td>
              </tr>
              <tr>
                <td>Bruksområder og regler for logobruk</td>
              </tr>
              <tr>
                <td>Logo i praksis</td>
              </tr>
              <tr>
            </table>
            <h2 class="price green text-center">Pris: 3990,-</h2>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg profilering-bg text-center">
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Grafisk Profilering</h2>
            <table class="table table-striped">
              <tr>
                <td>Design av visitkort</td>
              </tr>
              <tr>
                <td>Design av ID kort</td>
              </tr>
              <tr>
                <td>Design av reklame eller promoteringsmateriell</td>
              </tr>
              <tr>
                <td>Design av web annonser</td>
              </tr>
              <tr>
                <td>Administrere sosiale medier</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 300,- pr/time</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="orders-form" id="grafisk-form">
    <div class="container">
      <h2 class="text-center">Kontakt & Bestill</h2>
      <p class="text-center terms">Alle felt er påkrevd</p>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 well">
          <%= form_for @order do |f| %>
            <div class="form-group">
              <%= f.label :fornavn %>
              <%= f.text_field :fornavn, class: 'form-control', placeholder: 'Ditt fornavn' %>
            </div>
            
            <div class="form-group">
              <%= f.label :etternavn %>
              <%= f.text_field :etternavn, class: 'form-control', placeholder: 'Ditt etternavn' %>
            </div>
            
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Din epost' %>
            </div>
            
            <div class="form-group">
              <%= f.label :mobil %>
              <%= f.number_field :mobil, class: 'form-control', placeholder: 'Ditt mobilnummer' %>
            </div>
            
            <div class="btn-group">
              <%= f.label "Tjeneste" %></br>
              <%= f.select(:tjeneste_option, options_for_select([['Lekker (Webside)', 'Lekker (Webside)'], ['Fabelaktig (Webside)', 'Fabelaktig (Webside)'], ['Vedlikehold - Web', 'Vedlikehold - Web'], ['Logodesign', 'Logodesign'], ['Profilmanual', 'Profilmanual'], ['Grafisk Profilering', 'Grafisk Profilering'], ['Videoredigering', 'Videoredigering'], ['Film & Klipp', 'Film & Klipp'], ['VHS Digitalisering', 'VHS Digitalisering']]), {}, { :class => 'btn btn-sm btn-primary dropdown-toggle' }) %>
            </div>
            
            <div class="form-group">
              <%= f.label :beskrivelse %>
              <%= f.text_area :beskrivelse, class: 'form-control', placeholder: 'Beskriv tjenesten du ønsker' %>
            </div>
            
            <%= f.submit 'Send Inn', class: 'btn btn-send-order' %>
            <p class="terms">Ved å trykke "Send Inn", aksepterer du Digtikk.no sine <%= link_to "kjøpsvilkår", "https://forbrukerombudet.no/lov-og-rett/veiledninger-og-retningslinjer/2179-2" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div id="grafisk-orders-info" class="utvidet-info grafisk-orders-info">
  <h2 class="text-center">Utvidet Info</h2>
    <div class="container-fluid lekker">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Logodesign</h3>
            <p class="orders-desc-p">Trenger du logo til din virksomhet? Digitikk.no tilbyr skreddersydde logoer tilpasset dine behov. I tillegg til høyoppløst bitmap grafikk, levers også logoen i nydelig vector grafikk tilpasset print. Logoen designes etter virksomhetens ønsker, og innspill fra designer om ønskelig. Du vil motta en ferdig mappe med ulike versjoner av logoen slik at du kan bruke den på tvers av ulike mediekanaler i forskjellige filformater.</p>
          </div>
          <div class="col-md-offset-3 col-md-5 orders-col-img">
            <%= image_tag("Logo_undertext_v2-min.png", class: 'logo-info orders-info-imgs') %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid fabelaktig">
      <div class="container">
        <div class="row">
          <div class="col-md-4 orders-col-img">
            <%= image_tag("profilmanual_ms_ub-min.png", class: 'pm_ms_ub') %>
          </div>
          <div class="col-md-offset-3 col-md-5">
            <h3>Profilmanual</h3>
            <p class="orders-desc-p">Profilmanualen er den viktigste nøkkelen for hvordan din virksomhet skal fremstå best mulig visuelt. Alle farger, fonter, designelementer og logoversjoner skal defineres i bedriftens profilmanualen. Dermed har virksomheten noe fast å forholde seg til gjennom reklame og markedsføring. Din profilmanual skreddersys derfor med fokus på hvordan virksomhetens profil ønsker å kommuniserere i markedsføringen. Å ha en rød tråd av designelementer i all markedsføring er effektivt!</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid vedlikehold">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Grafisk Profilering</h3>
            <p class="orders-desc-p">Digitikk hjelper gjerne med å designe andre grafiske elementer som visitkort, reklameplakater og promoteringsmateriell. Dette designes i henhold til bedriftens visuelle profil. Ta kontakt, så hjelper jeg deg gjerne!</p>
          </div>
          <div class="col-md-offset-3 col-md-5 orders-col-img">
            <%= image_tag("profilering-min.png", class: 'profilering-img') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="video-orders" class="video-orders">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg editing-bg text-center">
            <i class="fa fa-scissors" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Videoredigering</h2>
            <table class="table table-striped">
              <tr>
                <td>Proffesionell Klipping</td>
              </tr>
              <tr>
                <td>Lydbehandling</td>
              </tr>
              <tr>
                <td>Fargekorrigering</td>
              </tr>
              <tr>
                <td>Spesialeffekter</td>
              </tr>
              <tr>
                <td>Reklamefilmer</td>
              </tr>
              <tr>
                <td>Promoteringsfilmer</td>
              </tr>
              <tr>
                <td>Holdningskampanjer</td>
              </tr>
              <tr>
                <td>Valgfrie videoformat</td>
              </tr>
              <tr>
                <td>Kan gjøres over nett</td>
              </tr>
              <tr>
                <td>7 års erfaring</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 300,- pr/time</h2>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg film-bg text-center">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">Film & Klipp</h2>
            <table class="table table-striped">
              <tr>
                <td>Proffesionell Klipping</td>
              </tr>
              <tr>
                <td>Reklamefilmer</td>
              </tr>
              <tr>
                <td>Promoteringsfilmer</td>
              </tr>
              <tr>
                <td>Holdningskampanjer</td>
              </tr>
              <tr>
                <td>Planlegging av prosessmodeller</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 300,- pr/time</h2>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="orders-bg vhs-bg text-center">
            <i class="fa fa-film" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h2 class="orders-desc-h2 text-center">VHS Digitalisering</h2>
            <table class="table table-striped">
              <tr>
                <td>Digitaliserer dine VHS kasetter</td>
              </tr>
              <tr>
                <td>Kan lever på minnepinne (inkl)</td>
              </tr>
              <tr>
                <td>Kan leveres på DVD</td>
              </tr>
              <tr>
                <td>Kan levers i mp4 format</td>
              </tr>
              <tr>
                <td>Kvalitetsbevaring</td>
              </tr>
            </table>
            <h2 class="price green text-center">Pris: 199,- pr/time</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="orders-form" id="video-form">
    <div class="container">
      <h2 class="text-center">Kontakt & Bestill</h2>
      <p class="text-center terms">Alle felt er påkrevd</p>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 well">
          <%= form_for @order do |f| %>
            <div class="form-group">
              <%= f.label :fornavn %>
              <%= f.text_field :fornavn, class: 'form-control', placeholder: 'Ditt fornavn' %>
            </div>
            
            <div class="form-group">
              <%= f.label :etternavn %>
              <%= f.text_field :etternavn, class: 'form-control', placeholder: 'Ditt etternavn' %>
            </div>
            
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Din epost' %>
            </div>
            
            <div class="form-group">
              <%= f.label :mobil %>
              <%= f.number_field :mobil, class: 'form-control', placeholder: 'Ditt mobilnummer' %>
            </div>
            
            <div class="btn-group">
              <%= f.label "Tjeneste" %></br>
              <%= f.select(:tjeneste_option, options_for_select([['Lekker (Webside)', 'Lekker (Webside)'], ['Fabelaktig (Webside)', 'Fabelaktig (Webside)'], ['Vedlikehold - Web', 'Vedlikehold - Web'], ['Logodesign', 'Logodesign'], ['Profilmanual', 'Profilmanual'], ['Grafisk Profilering', 'Grafisk Profilering'], ['Videoredigering', 'Videoredigering'], ['Film & Klipp', 'Film & Klipp'], ['VHS Digitalisering', 'VHS Digitalisering']]), {}, { :class => 'btn btn-sm btn-primary dropdown-toggle' }) %>
            </div>
            
            <div class="form-group">
              <%= f.label :beskrivelse %>
              <%= f.text_area :beskrivelse, class: 'form-control', placeholder: 'Beskriv tjenesten du ønsker' %>
            </div>
            
            <%= f.submit 'Send Inn', class: 'btn btn-send-order' %>
            <p class="terms">Ved å trykke "Send Inn", aksepterer du Digtikk.no sine <%= link_to "kjøpsvilkår", "https://forbrukerombudet.no/lov-og-rett/veiledninger-og-retningslinjer/2179-2" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div id="video-orders-info" class="utvidet-info video-orders-info">
    <h2 class="text-center">Utvidet Info</h2>
    <div class="container-fluid lekker">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Videoredigering og Film</h3>
            <p class="orders-desc-p">En appellerende reklame / promoteringsfilm er viktig materiell for din markedsføring. I startfasen utvikles en plan i samarbeid med kunde på hvordan din video skal appelere best mulig til potensielle kunder / målgruppe. Denne planen vil inneholde informasjon om videoens budskap, målgruppe, mediekanal og virkemidler som skal bruers. Videoen leveres i ønsket format tilpasset ønsket kanal. har du allerede film liggende som skal redigeres, tar jeg gjerne i mot dette gjennom nett.</br></br>Digitikk.no baserer seg i Ålesund. Dersom du behøver full produksjon av film-materiell er det bare å ta kontakt for mer informasjon.</p>
          </div>
          <div class="col-md-offset-3 col-md-5 orders-col-img">
            <%= image_tag("premiere-min.png", class: 'premiere orders-info-imgs') %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid fabelaktig">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <i class="fa fa-film vhs-icon-big" aria-hidden="true"></i>
          </div>
          <div class="col-md-offset-3 col-md-5">
            <h3>VHS Digitalisering</h3>
            <p class="orders-desc-p">Dagens teknologi gjør hverdagen stadig mye enklere for oss. Dessverre betyr dette at mye av den eldre teknologien faller bort. VHS kassettspillere er nesten ikke å finne lenger, noe skaper trøbbel for avspilling av gamle filmer. Har du noen VHS kassetter liggende oppe på mørkloftet? Digitikk.no har utstyr som konverterer de gamle filene til dagens formater. Filmene kan leveres digitalt på minnepinne, over nett, eller på DVD.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="annet-orders">
  <div class="container">
    <div class="row">
      <div class="col-md-5"><div class="col-md-1>"></div>
        <h3>Andre Tjenester</h3>
        <p class="annet-info">Dersom du trenger assistanse innenfor andre oppgaver i samme fagfelt, er det bare å ta kontakt. Du vil få svar fortløpende. Alle felt i kontaktskjema er påkrevd.</p>
      </div>
      <div class="col-md-offset-1 col-md-5 well annet-form">
        <%= form_for @order do |f| %>
          <div class="form-group">
            <%= f.label :fornavn %>
            <%= f.text_field :fornavn, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :etternavn %>
            <%= f.text_field :fornavn, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :mobil %>
            <%= f.number_field :mobil, class: 'form-control' %>
          </div>
          
          <div class="btn-group">
            <%= f.label "Tjeneste" %></br>
            <%= f.select(:tjeneste_option, options_for_select([['Lekker (Webside)', 'Lekker (Webside)'], ['Fabelaktig (Webside)', 'Fabelaktig (Webside)'], ['Vedlikehold - Web', 'Vedlikehold - Web'], ['Logodesign', 'Logodesign'], ['Profilmanual', 'Profilmanual'], ['Grafisk Profilering', 'Grafisk Profilering'], ['Videoredigering', 'Videoredigering'], ['Film & Klipp', 'Film & Klipp'], ['VHS Digitalisering', 'VHS Digitalisering']]), {}, { :class => 'btn btn-sm btn-primary dropdown-toggle' }) %>
          </div>
          
          <div class="form-group">
            <%= f.label :beskrivelse %>
            <%= f.text_area :beskrivelse, class: 'form-control' %>
          </div>
          
          <div class="text-center">
          <%= f.submit 'Send Inn', class: 'btn btn-send-order' %>
          <p class="terms">Ved å trykke "Send Inn", aksepterer du Digtikk.no sine <%= link_to "kjøpsvilkår", "https://forbrukerombudet.no/lov-og-rett/veiledninger-og-retningslinjer/2179-2" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>




