<section id="hero">
    <!-- <div class="header-video">
        <video preload="preload" id="video" autoplay="autoplay" loop="loop">
            <source src="media/header_video.mp4" type="video/mp4">
        </video>
    </div> -->
    
    
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="nav-logo pull-left">
                <%= image_tag("left-logo-long-text.png") %>
            </div>
            <div class="nav-content pull-right">
                <ul class="nav">
                    <li>om</li>
                    <li>tjenester</li>
                    <li>portofølje</li>
                    <li>kontakt</li>
                    <li>bestill</li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="cta text-center">
            <div class="cta-text">
                <h1>Vestad Web og Media</h1>
                <h2>Strøkent WebDesign.</h2>
                <a href="#" class="btn-left">Utforsk</a>
                <a href="#" class="btn-right">Portfolio</a>
            </div>
            <div class="cta-img">
                <%= image_tag("macs_edited_new.png") %>
            </div>
        </div>
    </div>
    
</section>



<section id="about">
    <div class="container">
        <h3 class="text-center">Om Vestad Web og Media</h3>
        <div class="row">
            <div class="col-md-6 col-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, in totam consequatur! Vitae delectus consequuntur voluptates molestiae quia, ex, possimus necessitatibus similique, dolores id assumenda aliquid itaque adipisci distinctio sit!</p>
                <ul class="values-left">
                    <li><i class="fa fa-file-code-o fa-fw" aria-hidden="true"></i>Web Designer</li>
                    <hr class="underline-left">
                    <li><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>Video Editor</li>
                    <hr class="underline-right">
                    <li><i class="fa fa-terminal fa-fw" aria-hidden="true"></i>Back-end utvikler</li>
                    <hr class="underline-left">
                </ul>
                <ul class="values-right">
                    <li><i class="fa fa-youtube-play fa-fw" aria-hidden="true"></i>Youtuber</li>
                    <hr class="underline-right">
                    <li><i class="fa fa-trademark fa-fw" aria-hidden="true"></i>Branding</li>
                    <hr class="underline-left">
                    <li><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>Grafisk Design</li>
                    <hr class="underline-right">
                </ul>
            </div>
            <div class="col-md-6 col-right text-right">
                <%= image_tag("esp_png.png") %>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Tjenester</h3>
        </div>
        <div class="service-content">
            <div class="row">
                <div class="col-md-4 col-1">
                    <div class="i-bg-small text-center"><i class="fa fa-code text-center" aria-hidden="true"></i></div>
                    <h4 class="text-center">Web Design</h4>
                    <p>Trenger du en kontaktside til din bedrift? Kanskje trenger du bare en enkel nettside med strøkent design? Digitikk.no skreddersyr webløsninger etter <strong>DINE</strong> behov!</p>
                    <a href="#" class="btn btn-primary">Se Webløsninger</a>
                </div>
                <div class="col-md-4 col-2">
                    <div class="i-bg-small text-center"><i class="fa fa-terminal text-center" aria-hidden="true"></i></div>
                    <h4 class="text-center">Web Utvikling</h4>
                    <p>Digitikk.no leverer webløsninger akkurat slik du ønsker! I tillegg til skreddersydd design, kan du også få levert løsninger som <strong>Registrer</strong>, <strong>Logg Inn</strong>, <strong>Blogg</strong> og mange andre funskjoner!</p>
                    <a href="#" class="btn btn-primary">Se Webløsninger</a>
                </div>
                <div class="col-md-4 col-3">
                    <div class="i-bg-small text-center"><i class="fa fa-scissors text-center " aria-hidden="true"></i></div>
                    <h4 class=text-center>Videoredigering</h4>
                    <p>Trenger din virksomhet reklamefilm, promoteringsvideo eller lignende? Har du mangel på programvare? Digitikk.no har 7 års erfaring med video redigering og kraftig programvare til jobben!</p>
                    <a href="#" class="btn btn-primary">Klipp Min Video!</a>
                </div>
            </div>
            <div class="row final-row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="i-bg-big text-center"><i class="fa fa-video-camera text-center" aria-hidden="true"></i></div>
                        <h4 class="text-center">Lokal Film og Foto</h4>
                        <p>I tillegg til videoredigering, tar Digitikk.no også på seg lokale film oppdrag og fotografering. Digitikk holder til i Ålesund og tar på seg oppdrag der og omegn. Stiller med godt utstyr innen både lyd, bilde og programvare. Det er også mulig å bestille luft-foto med drone dersom det er øsnkelig.</p>
                        <a href="#" class="btn btn-success">Jeg Trenger Film!</a>
                    </div>
                    <div class="col-md-6">
                       <div class="i-bg-big text-center"><i class="fa fa-pencil text-center" aria-hidden="true"></i></div>
                        <h4 class="text-center">Grafisk Design</h4>
                        <p>Trenger din virksomhet en ny logo eller visuell profil? Digitikk designer og skaper din nye logo! Det er viktig at din logo kommuniserer best mulig mot dine kunder og gjenspeiler bedriftens visuelle preg. Om ønskelig, utvikler Digitikk også profilmanual for din virksomhet.</p>
                        <a href="#" class="btn btn-success">Grafiske Løsninger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <h3 class="text-center">Portofølje</h3>
        <p class="portfolio-info text-center">Her kan du se en liste over de ulike prosjektene jeg har laget.</p>
        <div class="row category text-center">
            <div class="col-md-2">
                <span class="i-bg"><i class="fa fa-code" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-2">
                <span class="i-bg"><i class="fa fa-film" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-2">
                <span class="i-bg"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-2">
                <span class="i-bg"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-2 text-center">
                <p class="cv">CV</p>
            </div>
            <div class="col-md-2">
                <span class="i-bg"><i class="fa fa-youtube" aria-hidden="true"></i></span>
            </div>
        </div>
        
        <hr class="container"></hr>
        
        <div class="row portfolio-row">
            <div class="web text-center">
                <div class="col-md-3">
                    <a href="#">
                        <div class="bg-with-txt fruitcake">
                            <%= image_tag("fruitcake.png") %>
                            <div class="overlay">
                                <p class="img-txt">Fruitcake</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="bg-with-txt amazing">
                            <%= image_tag("amazign.png") %>
                            <div class="overlay">
                                <p class="img-txt">Landing Page</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="bg-with-txt dev-match">
                            <%= image_tag("devmatch.png") %>
                            <div class="overlay">
                                <p class="img-txt">Dev Match</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="bg-with-txt ms-ub">
                            <%= image_tag("msub.png") %>
                            <div class="overlay">
                                <p class="img-txt">Medie Spesialisten UB</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="icons">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <h4>Fleksible Løsninger</h4>
            </div>
            <div class="col-md-3">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <h4>Lekkert!</h4>
            </div>
            <div class="col-md-3">
                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                <h4>Skreddersydde Design</h4>
            </div>
            <div class="col-md-3">
                <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
                <h4>Optimalisert</h4>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container">
        <div class="row">
            <h4>Kontakt Digitikk</h4>
            <div class="col-md-6 col-left">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>