<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        
        <h3>Spørsmål / Bestilling fra digitikk.no</h3>
        <h5>Fornavn: <%= "#{ @fornavn }" %></h5>
        <h5>Etternavn: <%= "#{ @etternavn }" %></h5>
        <h5>Epost: <%= "#{ @email }" %></h5>
        <h5>Mobil: <%= "#{ @mobil }" %></h5>
        <h5>Ønsket Tjeneste <%= "#{ @tjeneste }" %></h5>
    
        <p><%= @beskrivelse %></p>
        
    </body>
</html>